# npm modules
.DS_Store
node_modules/
/dist/

# Visual Studio Code
.vscode

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env
.env.*.local

# custom
internal_logs
logs

# Editor directories and files
.idea
.vscode
.vs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn